:root {
  /* Colores para texto */
  --color-texto-primario: #333;
  --color-texto-secundario: #808080;
  --color-resaltador-claro: #00FF7F;
  --color-resaltador-oscuro: #FF1493;

  /* Colores para fondos */
  --color-oscuro: #333;
  --color-claro: #FFF;

  /* Colores para íconos */
  --color-github: #333;
  --color-linkedin: #0E76A8;
  --color-google: #EA4335;
  --color-twitter: #1DA1F2;

  /* Tamaños de fuentes */
  --alto-saludo-grande: 65px;
  --alto-descripcion-grande: 25px;
  --alto-texto-footer-grande: 20px;

  --alto-saludo-normal: 50px;
  --alto-descripcion-normal: 18px;

  --alto-saludo-chico: 40px;
  --alto-descripcion-chico: 16px;

  /* Tamaños de íconos */
  --diametro-icono-grande: 40px;
  --diametro-icono-chico: 35px;

  --diametro-switch-grande: 52px;
  --diametro-switch-chico: 35px;
}
